html,body{ 
    margin:0; padding:0; width:100%; height:100%;
}

::selection{
    background-color: #bf68cc;
}

/* heaeder */
header{
    width: 80%; height: 200px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: transparent;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header img{
    width: 200px;
}

.account{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.account a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 12px;
    margin: 10px;
}


.account span{
    color: white;
    font-size: 18px;
}

.account a:hover{
    background-color: #bf68cc;
    border-radius: 5px;
}

/* section1 */

#mainfulldiv0::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('background.jpg');
    /* -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px); */
    background-repeat: no-repeat;
    background-size: cover;
}
.container1{
    width: 900px;
    height: 330px;
    z-index: 1;
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    margin-top: 50px;
    text-align: center;
    line-height: 80px;
    font-size: 29px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-self: center;
    align-items: center;
    backdrop-filter:blur(15px) brightness(110%);
    line-height: 100px;
}

#catch_phrase{
    text-align: center;
    margin: auto; 
    color: #ffffff;
    /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
    text-shadow: 6px 6px 0 #311b4a;
}


/* scroll animation */

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
    position: relative;
    bottom: -17rem;
}


.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}





/* section2 */

.teachable_phrase{
    margin-right: 150px;
    line-height: 70px;
}

.teachable_phrase a{
    padding: 11px 40px;
    margin: 20px 20px 20px 0;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: #2272eb;
}

.teachable_phrase a:hover{
    background-color: #1957c2;
}

#example{
    width: 300px;
    border-radius: 10px;
}

/* section3 */



/* section4 */


/* footer */

.container2{
    width: 600px;
    height: 400px;
    margin: 50px;
    font-size: 20px;
    position: relative;
    left: -10%;
    top: 10%;
}

.container2 p:not(.face_img p) {
    margin-left: 50px;
}

.img_box {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;    
}

.face_img {
    text-align: center;
}

.face_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.team {
    display: flex;
    justify-content: space-between;
}

#mutgik{
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

#mainfulldiv4 h1{
    position: relative;
    font-size: 80px;
    font-weight: bolder;
    top: -38%;
    left: 7%;
}

.mainfullbox{ 
    width:100%; height:100%; 
    position:relative; color:#ffffff; 
    font-size:24pt;
    display: flex;
    justify-content: center;
    align-items:center;
}


/* navigation bar */

#mainfull_navi { 
    position:fixed; top:40%; right:180px; z-index:1; 
}

#mainfull_navi ul {
     margin:0; padding:0; list-style:none; 
}

#mainfull_navi ul li {
     margin-bottom:20px; 
}

#mainfull_navi p {
     background-color:#0008; border:3px solid #fff; 
     width:15px; height:15px; border-radius:10px; 
     text-align:center; margin:15px auto; font-size:12px; 
     color:#fff; vertical-align:middle; line-height:10px; 
}

#mainfull_navi p:hover {
     background-color:#bf68cc; 
}
    
#mainfull_navi a.on p { 
    background-color:#bf68cc !important;
}

#mainfull_navi p.on {
     background-color:#bf68cc !important; 
}

@media screen and (max-width:1025px){
#mainfull_navi { right:10%; }
}
