html,body{ 
    margin:0; padding:0; width:100%; height:100%;
}


.mainfullbox{ 
    width:100%; height:100%; 
    position:relative; color:#ffffff; 
    font-size:24pt;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/* header */

header{
    width: 80%; height: 200px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: transparent;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header img{
    width: 200px;
}

.account{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.account a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 12px;
    margin: 10px;
}


.account span{
    color: white;
    font-size: 18px;
}

.account a:hover{
    background-color: hsl(27, 100%, 68%);
    border-radius: 5px;
}

/* teachable */

canvas {
    margin: auto;
}

#webcam-container{
    margin-bottom: 50px; margin-left: 200px;
    width: 500px;
    height: 500px;
    background-color: #dbdbdb;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}


#btn {
    width: 350px;
    height: 50px;
    padding: 12px 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #2272eb;
    color: #fff;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

#btn:hover {
    background-color: #1957c2;
}


#label-container{
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: blueviolet;
}
